<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - Arif Khan</title>

    <!-- bootstrap css cdn link  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- custom css file -->
    <link rel="stylesheet" href="static/css/style.css" />

    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- bootstrap icon cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
    />

    <!-- for adding animation to website we have use AOS library 
    AOS Library css file cdn link -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- jquery cdn link  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
  </head>
  <body>
    <!-- navbar starts -->
    <nav
      id="navbar-top"
      class="navbar navbar-expand-lg navbar-light bg-white sticky-top"
    >
      <div class="container-fluid px-5">
        <a class="navbar-brand fw-bold fs-1" href="#">
          <img src="static/images/ariflogo.gif" class="nav-logo" alt="" /></a>
        <button
          class="nav-menu d-md-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <i class="bi bi-menu-button-fill"></i>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav gap-4">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#service">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#project">Project</a>
            </li>
          </ul>
        </div>
        <button class="c-btn ms-4 py-2 px-4 rounded-pill d-none d-md-block">
          <a class="nav-contact-link" href="#contact">Contact</a>
          </button>
      </div>
    </nav>
    <!-- navbar ends here -->

    <!-- home section starts  -->
    <section class="home pt-5 pb-5" id="home">
      <div class="row justify-content-evenly align-middle">
        <!-- here data-aos is used for adding aos animation  -->
        <div class="col-10 col-md-6 text-center text-md-start" data-aos="slide-right">
          <h2 style="color:rgb(255, 255, 255)">
            Hello! I Am <br /><span class="c-orange" style="color: #6f34fe">Arif Khan</span></br>
            Backend Developer | Python
          </h2>

          <p style="color:rgb(73, 239, 250);font-size:30px;">
            I'm A Web Developer having 3.8 years of experience in expertise of
            creating website with fully responsive Also with backend part too.
          </p>
          <button id="view_resume" class="c-btn h-btn mt-3 py-3 px-1 rounded-pill" onclick="openPDF()">
            <a href="static/ARIFKHAN_A_Python_Developer_Resume.pdf" target="_blank" class="c-btn h-btn mt-3 py-3 px-5 rounded-pill">
              Hire Me
            </a>
            
          </button>
        </div>
        <div class="col-10 col-md-4 d-none d-md-block">
          <img src="static/images/Arifkhan.png" class="img-fluid" alt="" />
        </div>
      </div>
    </section>
    <!-- home section ends here -->

    <!-- expertise section starts -->
    <section class="expertise mt-5" id="service">
      <div class="heading text-center">
        <small>My Expertise</small>
        <h3>
          Provide Wide Range of <br />
          Digital Services
        </h3>
      </div>
      <div class="row justify-content-evenly mt-5">
        <div class="col-md-4 col-10" data-aos="fade-up">
          <div class="service-card">
            <div class="img">
              <img src="static/images/web_development.png" class="w-50 img-expertise img" alt="Web Development">

            </div>
            <div class="content mt-3">
              <h4>Web Development</h4>
              <p>
                @ Building modern and responsive websites using Python, HTML, CSS, JavaScript, Bootstrap, and React.
              </br>
                @ Creating user-friendly and dynamic web applications with the latest technologies.
              </br>
                @ Developing fast, interactive, and scalable web solutions with Python and React.
              </br>
                @ Expert in front-end and back-end development for seamless web experiences.
              </p>
              <a href="" class="link">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-4" data-aos="fade-up">
          <div class="service-card">
            <div class="img">
              <img src="static/images/windows.png" class="w-50 img-expertise" alt="Windows Application">

            </div>
            <div class="content mt-3">
              <h4>Windows Application</h4>
              <p>
                @ Developed a Windows application using PyQt5, Matplotlib, and OpenCV for a seamless user experience.
              </br>
                @ Built an interactive desktop application with PyQt5, featuring real-time data visualization and image processing.
              </br>
                @ Designed a powerful Windows application combining UI design, data visualization, and computer vision.
              </br>
                @ Created a feature-rich desktop app using PyQt5 for UI, Matplotlib for graphs, and OpenCV for image processing.
              </p>
              <a href="" class="link">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-10" data-aos="fade-up">
          <div class="service-card">
            <div class="img">
              <img src="static/images/database.png" class="w-50 img-expertise img" alt="Data Base">

            </div>
            <div class="content mt-3">
              <h4>Data Base</h4>
              <p>
                @ Designed and managed databases using MySQL, PostgreSQL, SQLite3, and SQLAlchemy.
              </br>
                @ Built efficient and scalable database solutions with MySQL, PostgreSQL, and SQLite3.
              </br>
                @ Integrated SQLAlchemy for seamless database management across MySQL, PostgreSQL, and SQLite3.
              </br>
                @ Experienced in database design, optimization, and query handling using modern SQL technologies.
              </p>
              <a href="" class="link">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- expertise section ends here -->

     <!-- skill section starts -->
<section class="skill mt-5 py-5" id="about">
  <div class="row justify-content-evenly">
  <div class="col-10 col-md-5 skill-with-progress" data-aos="slide-right">
          
    <div class="row justify-content-evenly">

            <div class="col-10 col-md-6">
              
              <div class="progress-card ms-3 ms-md-0">
                
                <div class="circular-progress python">
                  
                  <span class="progress-value python-progress">80%</span>
                </div>
                <br />
                <span class="skill-python">Python</span>
              </div>
            </div>

            <div class="col-10 col-md-6">
              
              <div class="progress-card ms-3 ms-md-0">
                
                <div class="circular-progress javascript">
                  
                  <span class="progress-value javascript-progress">70%</span>
                </div>
                <br />
                <span class="skill-javascript">JavaScript</span>
              </div>
            </div>
    </div>


      <div class="row justify-content-evenly">

            <div class="col-10 col-md-6">
              
              <div class="progress-card ms-3 ms-md-0">
                
                <div class="circular-progress html-css">
                  
                  <span class="progress-value html-progress">80%</span>
                </div>
                <br />
                <span class="skill-html">Html&Css</span>
              </div>
            </div>

            <div class="col-10 col-md-6">
              
              <div class="progress-card ms-3 ms-md-0">
                
                <div class="circular-progress react">
                  
                  <span class="progress-value react-progress">60%</span>
                </div>
                <br />
                <span class="skill-react">React.Js</span>
              </div>
            </div>
    </div>


      <div class="row justify-content-evenly">

            <div class="col-10 col-md-6">
              
              <div class="progress-card ms-3 ms-md-0">
                
                <div class="circular-progress mysql">
                  
                  <span class="progress-value mysql-progress">70%</span>
                </div>
                <br />
                <span class="skill-mysql">MySQL&PostgreSQL</span>
              </div>
            </div>

            <div class="col-10 col-md-6">
              
              <div class="progress-card ms-3 ms-md-0">
                
                <div class="circular-progress numpy">
                  
                  <span class="progress-value numpy-progress">50%</span>
                </div>
                <br />
                <span class="skill-numpy">Numpy&Pandas</span>
              </div>
            </div>
    </div>
</div>

  <div class="col-10 col-md-5 skill-detail" data-aos="slide-left">
          <div class="heading mt-5 mt-md-3">
            <small>My Skills & Experiences</small>
            <h3>Beautiful & Unique Digital Experiences</h3>
            
            <h4>Suntrion Technosol Pvt Ltd</h4>
            <p class="skill-text">
              Software Engineer
            </br>
              August 2024-October 2024
            </br>
              Chennai, Tamil Nadu.
            </p>
          </br>
            <h4>Code Metric</h4> 
            
            <p class="skill-text">
              System Engineer 
            </br>
              June 2023-July 2024
            </br>
              Tiruchirappalli, Tamil Nadu.
            </p>
            </br>
            <h4>Statistical Software Solutions</h4>
            
            <p class="skill-text">
              Assistant System Engineer
            </br>
              February 2021- June 2023
            </br>
              Tirunelveli,Tamil Nadu.
            </p>
            <button class="c-btn h-btn mt-3 py-3 px-5 rounded-pill">
              <a
                href="static/ARIFKHAN_A_Python_Developer_Resume.pdf" 
                download="SampleCV"
                style="text-decoration: none; color: #fff;"
              >
                Download CV
              </a>
            </button>
            
          </div>
        </div>
      </div>
    </section>
    <!-- skill section end here -->

    <!-- project section starts here -->
    <section class="project" id="project">
      <div class="heading text-center pt-5">
        <small>Creative Work</small>
        <h3>Check My Projects</h3>
      </div>

      <div id="myBtnContainer" class="text-center mt-4">
        <!-- here we will create custom attribute using data- for filtering -->
        <button class="filter-item" data-filter="all">All</button>
        <button class="filter-item" data-filter="webapp">Web App</button>
        <button class="filter-item" data-filter="website">Website</button>
        
      </div>
      <div class="project-body">
        <div class="row justify-content-evenly px-4">
          <div class="post col-md-4 game all col-10 mt-3 mt-md-0" data-aos="fade-up">
            <div class="card">
              <img src="static/images/teleradiology.jpg" class="card-img-top" alt="..." />
            </div>
            <div>
              <div class="card-body text-center">
                <h4 class="card-title">TeleRadiology</h4>
                <p class="project-text">
                  1. This project introduces to design and implement a secure 
                     and efficient teleradiology system that allows radiologists to remotely access and interpret medical images 
                     (e.g., X-rays, CT scans, MRIs)from different healthcare providers,improving diagnostic services and reducing turnaround times.
                </br> 
                  2. The system integrates DICOM images Integration with PACS 
                     (Picture Archiving and Communication System).
              </br>
                  3. And manages Patients,Visits,Services,Referrers,Dicomnodes,
                     Dicomworklists and Users with Role-Based Access Control(RBAC) to ensure secure access.RBAC assigns roles to users, enabling personalized workflows and enhanced data security. 

                </p>
                <span class="badge bg-secondary badge-pill">Python&Django</span>
                <span class="badge bg-secondary badge-pill">ReactJS&CSS</span>
                <span class="badge bg-secondary badge-pill mb-2">Website</span

                ><br />
                <a href="#" class="link">Read More</a>
              </div>
            </div>
          </div>
          <div class="post col-md-4 website all col-10 mt-3 mt-md-0" data-aos="fade-up">
            <div>
            <div class="card">
              <img
                src="static/images/maskvizpro.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
              <div class="card-body text-center">
                <h4 class="card-title">MaskViz Pro</h4>
                <p class="project-text">
                  1. The Mask Viz Pro is an integrated web-based application designed 
                  using Django for back-end and React for front-end to efficiently a 
                  sophisticated data analytics and visualization tool tailored to 
                  empower enterprises with comprehensive insights derived from 
                  their project and collaboration data.
                </br>
                  2. For accessing we used Role 
                  based access control(RBAC) security method that limits system 
                  access to users based on their roles(such as Admin, Team Lead 
                  and Member)within an organization.
              </br>
                  3. Enterprises can make well informed decisions and strategically optimize their operations for 
                  enhanced efficiency and effectiveness.

                </p>
                <span class="badge bg-secondary badge-pill">Python&Django</span>
                <span class="badge bg-secondary badge-pill">ReactJS&CSS</span>
                <span class="badge bg-secondary badge-pill mb-2">Website</span
                ><br />
                <a href="#" class="read-more-btn link">Read More</a>
              </div>
            </div>
          </div>
          <div class="post col-md-4 webapp all col-10 mt-3 mt-md-0" data-aos="fade-up">
            <div class="card">
              <img src="static/images/insuregate.webp" class="card-img-top" alt="..." />
            </div>
            <div>
              <div class="card-body text-center">
                <h4 class="card-title">InsureGate</h4>
                <p class="project-text">
                  1. This project presents a robust system for managing and tracking 
                  product insurance, including functionalities for buying, selling, 
                  renewing insurance, and swapping vendors, you can structure the 
                  project into modules, each responsible for specific functionalities 
                  encompassing functionalities essential for seamless management 
                  of insurance policies.
                </br> 
                  2. Structured into modular components, each 
                  responsible for specific functionalities, the system facilitates the 
                  buying, selling, renewing, and vendor swapping processes with 
                  almost efficiency and accuracy. 
                </p>
                <span class="badge bg-secondary badge-pill">Python&Flask</span>
                <span class="badge bg-secondary badge-pill">ReactJS&CSS</span>
                <span class="badge bg-secondary badge-pill mb-2">WebApp</span
                ><br />
                <a href="#" class="read-more-btn link">Read More</a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>
    <!-- project section ends here -->

    <!-- contact section starts -->
    <section class="contact py-5" id="contact">
      <div class="heading text-center">
        <small>Get in Touch</small>
        <h3>Any Questions? Feel Free to Contact</h3>
      </div>
      <div class="row justify-content-evenly mt-5">
        <div class="col-md-5 col-10 contact-details" data-aos="slide-right">
          <div class="row justify-content-evenly">
            <div class="col-1">
              <i class="bi bi-geo-alt-fill"></i>
            </div>
            <div class="col-11">
              <p class="contact-text">586 Rottu Street, Veladippatti, Gandarvakkottai, Pudukkottai, Tamilnadu, 613301, India</p>
            </div>
          </div>
          <div class="row justify-content-evenly">
            <div class="col-1">
              <i class="bi bi-telephone-fill"></i>
            </div>
            <div class="col-11">
              <p class="contact-text">+91 7639689632</p>
            </div>
          </div>
          <div class="row justify-content-evenly">
            <div class="col-1">
              <i class="bi bi-send-fill"></i>
            </div>
            <div class="col-11">
              <p class="contact-text">arifkhanij32@gmail.com</p>
            </div>
          </div>
        </div>
        
<!-- Contact Form -->
<div class="col-md-5 col-10 mt-3 mt-md-0" data-aos="slide-left">
  <div class="contact-form">
      <form id="contact-form">
        <div class="mb-3">
        <input class="form-control" type="text" id="name" name="name" placeholder="Name" required>
        </div>
        <div class="mb-3">
        <input class="form-control" type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="mb-3">
        <textarea class="form-control" id="message" name="message" placeholder="Message" required></textarea>
        </div>
        <button class="c-btn h-btn mt-3 py-3 px-5 rounded-pill" type="submit" id="submit-btn">Send Email</button>
        <p id="status-message"></p>
    </form>
  </div>
</div>
      </div>
    </section>
    <!-- contact section ends here -->

      <!-- now we will make back to top button when user click on it it will be redirected to top page  -->
    <button
      type="button"
      class="btn btn-floating btn-lg rounded-pill"
      id="btn-back-to-top"
    >
      <i class="bi bi-arrow-up"></i>
    </button>

    <!-- footer section starts  -->
    <footer class="text-center text-muted py-4">
      <h3 class="text-white pt-4" data-aos="fade-up">Portfolio</h3>
      <div class="link-group mt-5" data-aos="fade-up">
        <a style="color:rgb(255, 255, 255)" href="#home">Home</a>
        <div class="vr"></div>
        <a style="color:rgb(255, 255, 255)" href="#about">About</a>
        <div class="vr"></div>
        <a style="color:rgb(255, 255, 255)" href="#service">Service</a>
        <div class="vr"></div>
        <a style="color:rgb(255, 255, 255)" href="#portfolio">Projects</a>
        <div class="vr"></div>
        <a style="color:rgb(255, 255, 255)" href="#contact">Contact</a>
      </div>
      <div class="social-links mt-5" data-aos="fade-up">
        <button href="" class="rounded-pill linkedin">
          <a href="https://www.linkedin.com/in/arif-khan-b45056303" target="_blank" class="rounded-pill linkedin">
            <i class="bi bi-linkedin"></i>
        </a>        
        </button>
        <button href="" class="rounded-pill whatsapp">
          <i class="bi bi-whatsapp"></i>
        </button>
      </div>
      <hr class="text-muted my-4" />

      <p style="color:rgb(255, 255, 255)" >Copyright 2024 Portfolio | All Rights Reserved.</p>
    </footer>
    <!-- footer section ends here -->

      <!-- bootstrap javascript cdn link  -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <!-- Include EmailJS SDK -->
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script> <!-- ✅ USE THIS -->

    <!-- AOS library javascript link  -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      // initializing AOS library
      AOS.init({
        duration: 1000,
        offset: 50,
      });
    </script>
    <!-- custom js file linking -->
    <script src="./static/js/script.js"></script>
    
  </body>
</html>
